/* === 1. Estilos Globales === */
body {
    font-family: sans-serif;
    margin: 10px;
    padding: 0px;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
    border-radius: 15px;
}

/* === 2. Layout Principal === */
header, footer {
    text-align: center;
    padding: 25px;
    background-color: antiquewhite;
}

main {
    padding: 20px;
}

section {
    margin: 20px;
    padding: 15px;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 15px;
}

/* === 3. Componentes y Clases === */


.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.btn-github {
    display: inline-flex;
    background-color: #24292e;
    align-items: center;      
    justify-content: center;
    color: white !important;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.btn-github:hover {
    background-color: #444d56;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.btn-discord {
    display: inline-flex;
    background-color: #5865F2;
    align-items: center;      
    justify-content: center;
    color: white !important;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-discord:hover {
    background-color: #7580f0; 
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

/* === 4. Responsive Design (Media Queries) === */
@media(max-width:650px) {
    body {
        font-size: 14px;
    }

    section {
        margin: 10px;
    }
}
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

header h2{
    font-size: 1.2rem;  
    color: #555;        
    margin-top: 5px; 
    font-weight: normal;
}